<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>I</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-5FTeDp8MQ2UPoCygp+oZP5rTpgU9j2DjCiG4qBz/gtk2boGGtJsqhqM+3Rux5vRP" crossorigin="anonymous">

</head>

<body>
    <!-- 제목-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="title col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">E를 품은 아이들의 모임</h1>
                        <hr><br>
                        <p class="lead text-white-50 mb-4">성격은 소극적 업무는 적극적</p>
                        <br>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">팀에 참가하기</button>
                </div>
            </div>
        </div>
    </header>

    <!-- 모달 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('team_create') }}" method="POST">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">신청 양식</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="partInput" class="form-label">역할</label>
                            <input type="text" class="form-control" id="partInput" name="part">
                        </div>
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">이름</label>
                            <input type="text" class="form-control" id="nameInput" name="username">
                        </div>
                        <div class="mb-3">
                            <label for="mbtiInput" class="form-label">MBTI</label>
                            <input type="text" class="form-control" id="mbtiInput" name="mbti">
                        </div>
                        <div class="mb-3">
                            <label for="commentInput" class="form-label">각오</label>
                            <input type="text" class="form-control" id="commentInput" name="comment">
                        </div>
                        <div class="mb-3">
                            <label for="advantageInput" class="form-label">장점</label>
                            <input type="text" class="form-control" id="advantageInput" name="advantage">
                        </div>
                        <div class="mb-3">
                            <label for="tmiInput" class="form-label">TMI</label>
                            <input type="text" class="form-control" id="tmiInput" name="tmi">
                        </div>
                        <div class="mb-3">
                            <label for="blogInput" class="form-label">블로그주소</label>
                            <input type="text" class="form-control" id="blogInput" name="blog">
                        </div>
                        <div class="mb-3">
                            <label for="imageInput" class="form-label">사진</label>
                            <input type="text" class="form-control" id="imageInput" name="image_url">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소하기</button>
                        <button type="submit" class="btn btn-dark">신청하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <section class="py-5 border-bottom" id="features">
        <div class="container">
            <div class="row gx-5">
                {% for team in data %}
                <div class="col-lg-4 d-flex flex-column align-items-center">
                    <!-- Flexbox 사용 -->
                    <a href="{{ url_for('mypage', user_id=team.id) }}" class="circle-container">
                        <img src="{{ team.image_url }}" alt="...">
                    </a>
                    <h3 class="text-center mt-3">{{team.part}}</h3> <!-- 위쪽 마진 추가 -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Footer-->
    <!-- <footer class="py-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-white">
                    내용 추가하기
                </div>
            </div>
        </div>
    </footer> -->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- 움직이는 Home버튼 -->
    <script>
        document.getElementById("back-to-top-button").addEventListener("click", function (event) {
            event.preventDefault(); // 기본 동작 방지
            window.location.href = "/"; // 홈으로 이동
        });
    </script>
    <div id="floating-button">
        <a href="{{ url_for('home') }}" id="back-to-top-button">
            <span class="text">Home</span>
        </a>
    </div>
    
</body>

</html>